@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}
body {
  color: var(--foreground);
}

/*COLOR DE FONDO DE LOS GRIDS*/

.bg-custom {
  background-color: #f4f4f4;
}
.bg-custom-2 {
  background-color: #000000d9;
}
.bg-custom-3 {
  background-color: #373737e2;
}
.bg-custom-4 {
  background-color: #c0b2835e;
}
.bg-custom-5{
  background-color: #292727;

}
.color-font {
  color: #373737;
}
.color-font-2 {
  color: #dcd0c0;
}
.color-font-3 {
  color: #c0b283;
}
.color-font-4 {
  color: #ffffff;
}
.bg-btn-paginado {
  background-color: #373737;
}
.bg-btn-paginado-selected {
  background-color: #c0b283;
}
.background-with-gradient {
  background-image: linear-gradient(to bottom, rgba(55, 55, 55, 0.7), #373737),
    url("/tu-imagen.jpg");
  background-size: cover;
  background-position: center;
}
.mask-custom {
  mask-image: linear-gradient(to top, transparent 0%, black 0%);
  -webkit-mask-image: linear-gradient(to top, transparent 0%, black 20%);
}


/*TIPOFRAGIAS*/
.bruno-ace {
  font-family: "Bruno Ace SC", sans-serif;
}
.ranchers-regular {
  font-family: "Ranchers", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.viaoda-libre {
  font-family: "Viaoda Libre", sans-serif;
}

.spectral-sc {
  font-family: "Spectral SC", serif;
}
.tinos{
  font-family: "Tinos", serif;
}

.font-phudu {
  font-family: "Phudu", cursive;
}
.font-philosopher {
  font-family: "Philosopher", sans-serif;
}
.font-rancho {
  font-family: "Rancho", cursive;
}
.font-poiret-one {
  font-family: "Poiret One", cursive;
}
.prosto{
  font-family: "Prosto One", cursive;}

/*ANIMACION PARA EL BOTON DE CONTACTO*/
@keyframes personal-bounce {
  5%,
  50% {
    transform: scale(1);
  }

  10% {
    transform: scale(1);
  }

  15% {
    transform: scale(1);
  }

  20% {
    transform: scale(1) rotate(-5deg);
  }

  25% {
    transform: scale(1) rotate(5deg);
  }

  30% {
    transform: scale(1) rotate(-3deg);
  }

  35% {
    transform: scale(1) rotate(2deg);
  }

  40% {
    transform: scale(1) rotate(0);
  }
}

.personal-bounce {
  animation: personal-bounce 4s ease-in-out infinite;
}

/*ANIMACION DE COLOR PARA EL BOTON ANTERIOR*/
.bn632-hover {
  width: 230px;
  height: 40px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-size: 300% 100%;
  background-image: linear-gradient(
    to right,
    #373737,
    #a67c52,
    #c0b283,
    #373737
  );
  cursor: pointer;
  letter-spacing: 0.5px;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 15px 3px #373737; /* Neón suave constante */
}

.bn632-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 20px 4px rgba(28, 22, 4, 0.7); /* Resalta al hover */
}

.bn632-hover:focus {
  outline: none;
}

/*ANIMACION DE COLOR PARA EL BOTON VER*/
.ver-hover {
  width: 80px;
  cursor: pointer;
  height: 25px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #ffffff;
}

.ver-hover:hover {
  background-position: 100% 0;
  transform: scale(1.1);
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.ver-hover:focus {
  outline: none;
}

.ver-hover.bn19 {
  background-image: linear-gradient(
    to right,
    #9a813e,
    #972502,
    #b65170,
    #e86c33
  );
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
  transition: all 0.3s ease-in-out;
}

/*ANIMACION DE SCROLL*/

.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #000000;
}

::-webkit-scrollbar-track-piece {
  background-color: #000000;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #000000;
}

.bg-data-card {
  background-color: #2d2d2db5;
}

/*ANIMACION DE BOTON ENVIAR*/

.btn41-43 {
  padding: 1px 5px;
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  font-family: phudu;
  font-size: 20px;
  background-color: rgb(230, 168, 86);
}

.btn-42 {
  z-index: 1;
  color: rgb(0, 0, 0);
}

.btn-42:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgb(93, 82, 82);
  transition: all 0.3s ease;
  border-radius: 5px;
}

.btn-42:hover {
  color: rgb(0, 0, 0);
}

.btn-42:hover:after {
  top: 0;
  height: 100%;
}

.btn-42:active {
  top: 2px;
}

.scroll-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/*ANIMACION DE PRODUCT DETAIL*/
@layer utilities {
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: scale(0.95);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.4s ease-in-out forwards;
  }
}
@keyframes scrollBanner {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollBanner {
  animation: scrollBanner 40s linear infinite;
}

@keyframes scrollBanner {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scrollBanner {
  animation: scrollBanner 40s linear infinite;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
